<div class="center hero-unit">
  <h1>CrowdRenta</h1>
  
  <h2>
    Rent anything, anytime, anywhere! | List your stuff today and start earning or browse to discover what our
    members are  already offering to rent.
  </h2>

  <%=	 link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>

 <%=	 link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>


